@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Inter", sans-serif;
  color: #000;
  background: #e9e5e5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.AddBtn {
  @apply px-3 py-2 bg-blue-400 text-white rounded-md hover:bg-blue-500 hover:outline-blue-500 cursor-pointer;
}
